noteptarget/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml

.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

# Ignore all files in .idea folder
.idea/*

# Except gitignore.xml inside .idea
!.idea/gitignore.xml

# Java class files
*.class

# Package Files #
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/
*.iml
out/

# JavaFX build folders (if any)
build/
bin/

# OS files
.DS_Store
Thumbs.db

# Maven/Gradle
target/

/src/main/resources/config.properties
